body {
    // background: rgb(142,238,153);
    // background: -moz-radial-gradient(circle, rgba(142,238,153,1) 0%, rgba(4,5,4,1) 100%);
    // background: -webkit-radial-gradient(circle, rgba(142,238,153,1) 0%, rgba(4,5,4,1) 100%);
    // background: radial-gradient(circle, rgba(142,238,153,1) 0%, rgba(4,5,4,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8eee99",endColorstr="#040504",GradientType=1);
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    background-color: rgb(73, 255, 170);
  }