/* body {
    background-image: url('/images/kuya.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} */

.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    background-color: rgb(73, 255, 170);
  }